AUTH_STATIC_TOKEN=your-bearer-token-here
CARIDEN_HOME=/path/to/cw-planning
CXP_HOST=10.10.10.10
CXP_API_PORT=30603
CXP_COLLECTION_PORT=30603
CXP_DESIGN_HOST=10.10.10.10
CXP_DESIGN_PORT=30744
CP_HOST=10.10.10.10
CP_PORT=30744
CP_PROTOCOL=ssl
CP_PLAN_FILE_NAME=us_wan.txt
CP_PLAN_FILE=/opt/cw-plan-sdk/cw-planning/ai-agent/test_new_agent/plan_files/us_wan.txt
DESIGN_CLIENT_KEY_PASS=
